{% load static %}
{% load project %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/manager.css' %}">
    {% block CSS %}{% endblock %}
</head>
<body>
<div>
    <nav class="navbar navbar-av">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'project_list' %}">SaaS</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    {% all_project_list request %}

                    {% if request.tracer.project %}
                        <li><a href="{% url 'dashboard' project_id=request.tracer.project.id %}">概述</a></li>
                        <li><a href="{% url 'issues' project_id=request.tracer.project.id %}">问题</a></li>
                        <li><a href="#">统计</a></li>
                        <li><a href="{% url 'wiki' project_id=request.tracer.project.id %}">wiki</a></li>
                        <li><a href="{% url 'file' project_id=request.tracer.project.id %}">文件</a></li>
                        <li><a href="#">配置</a></li>
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">工作台</a></li>
                    <li><a href="#">日历</a></li>
                    <li><a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">{{ request.tracer.user.username }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'index' %}">官 网</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'logout' %}">注 销</a></li>
                        </ul>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

{% block content %}{% endblock %}

{% block JS %}{% endblock %}
<script src="{% static 'JS/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
</body>
</html>