{% extends 'layout/basic.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}欢迎来到新一代saas管理平台{% endblock %}</title>
    <meta name="keywords"
          content="Validate Login & Register Forms Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"/>

    <!-- CSS样式文件 -->
    {% block CSS %}
    <link rel="stylesheet" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}">
{#    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'CSS/css/style.css' %}" type="text/css" media="all"/>
{#    <link rel="preconnect" href="https://fonts.googleapis.com">#}
{#    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>#}
{#    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap" rel="stylesheet">#}
    {% endblock %}
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
</head>
<body>
<!-- 导航栏 -->

<!-- 内容区域 -->
{% block content %}

<div class="container">
    <!-- 登录注册内容 -->
    <div class="container-agille">
        <div class="formBox level-login">
            <div class="box registerBox wthree">
                <span class="reg_bg"></span>
                <h3>注 册</h3>
                <form id="regForm" class="form" action="#" method="post">
                    {% csrf_token %}
                    {% for foo in form %}
                        {% if foo.name == "code" %}
                            <div class="row f_row-2 last clearfix">
                                <div class="col-xs-8">
                                    {{ foo }}
                                    <span style="color: red;font-size: 13px" class="error-msg"></span>
                                </div>
                                <div class="col-xs-4">
                                    <input style="margin-top: 0;height: 50px;width: 100px" class="btn btn-default"
                                           type="button"
                                           value="发送验证码" id="confirm_bottom">
                                </div>
                            </div>
                        {% else %}
                            <div class="f_row-2">
                                {{ foo }}
                                <span style="color: red;font-size: 13px" class="error-msg"></span>
                            </div>
                        {% endif %}
                    {% endfor %}


                    <input id="btnSubmit" class="submit-w3" type="button" value="注 册">
                </form>
            </div>
            <a href="#" class="regTag icon-add">
{#                <i class="fa fa-clone" aria-hidden="true"></i>#}
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block JS %}
<!-- JavaScript文件 -->
<script src="{% static 'JS/jquery-3.7.1.min.js' %}"></script>
<!-- input fields js -->
<script src="{% static 'JS/input-field.js' %}"></script>
<!-- //input fields js -->

<!-- password-script -->
<script>
    window.onload = function () {
        document.getElementById("password1").onchange = validatePassword;
        document.getElementById("password2").onchange = validatePassword;
    }

    function validatePassword() {
        var pass2 = document.getElementById("password2").value;
        var pass1 = document.getElementById("password1").value;
        if (pass1 != pass2)
            document.getElementById("password2").setCustomValidity("Passwords Don't Match");
        else
            document.getElementById("password2").setCustomValidity('');
        //empty string means no validation error
    }

    $(function () {
        confirm();
        bindClickSubmit()  //提交注册数据
    })

    function bindClickSubmit() {  //点击提交注册
        $("#btnSubmit").click(function () {
            $('.error-msg').empty()  //每次点击清空错误信息，避免输入正确仍然残留错误信息
            //收集表单中的数据
            {#$("#regForm").serialize()#}
            //ajax发送到后台
            $.ajax({
                url: "/register/",
                type: "POST",
                data: $("#regForm").serialize(),
                dataType: "JSON",
                success: function (res) {
                    // 提交成功后台返回true时做跳转
                    console.log(res);
                    if (res.status) {
                        location.href = res.data
                        // 这里就是指成功后跳转至指定的网址，
                        // 这个网址就是我们后端返回的数据：return JsonResponse({'status': True, 'data': '/login/'})
                    } else {
                        $.each(res.error, function (key, value) {
                            $("#id_" + key).next().text(value[0])
                        })
                    }
                }
            })
        })
    }

    function confirm() {
        $("#confirm_bottom").click(function (e) {
            e.preventDefault();
            $('.error-msg').empty()  //避免用户在输入正确的信息后前端还保留错误提示，每次点击均清空该标签的内容
            $.ajax({
                url: '/send/email/',
                type: 'GET',
                data: {email: $("#id_email").val(), tpl: "register"},
                dataType: 'JSON',
                success: function (res) {
                    console.log(res)
                    if (res.status) {
                        console.log('发送成功。开始倒计时')
                        SendEmailTime()  //倒计时函数
                    } else {
                        //发送失败，返回错误信息
                        console.log(res)  //错误将会以字典嵌套列表的形式返回
                        $.each(res.error, function (key, value) {
                            $("#id_" + key).next().text(value[0])
                        })  //循环的意思
                    }
                }
            })
        })
    }

    // 倒计时
    function SendEmailTime() {
        var $confirm_bottom = $("#confirm_bottom");
        $confirm_bottom.prop("disabled", true); // 添加disabled属性，不可操作。
        var time = 60;
        var remind = setInterval(function () {
            $confirm_bottom.val(time + '秒重新发送')
            time = time - 1;
            if (time < 1) {
                clearInterval(remind);
                $confirm_bottom.val('发送验证码').prop("disabled", false); // 移除disabled属性，可操作。
            }
        }, 1000)

    }
</script>
{% endblock %}
</body>
</html>